.form {
  max-width: 360px;
  height: 100%;
  border-radius: 20px;
  /* background-color: rgba(255, 0, 0, 0.308); */
  background-color: var(--inputs-color);

  position: sticky;
  top: 20px;
}
.filters {
  display: flex;
  flex-direction: column;

  gap: 24px;

  margin-bottom: 48px;
}
.inputWrapper {
  margin-bottom: 40px;
}
.formWrapper {
  padding: 24px;
}
.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;

  display: flex;
  flex-direction: column;
  gap: 8px;
}
.inputIconWrapper {
  position: relative;
  width: 312px;
}
.mapIcon {
  position: absolute;
  left: 20px;
  top: 50%;

  transform: translateY(-50%);

  width: 20px;
  height: 20px;

  color: var(--main);
  pointer-events: none;
}
.title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;

  margin-bottom: 8px;
}
.radioLabel {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: var(--main);

  display: flex;
  align-items: center;

  cursor: pointer;

  margin-left: 8px;
}

.input {
  border-radius: 12px;
  padding: 16px 20px 16px 48px;
  width: 100%;
  background-color: #fff;
}
.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #6c717b;
}
.filterTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}
.optionsList {
  display: flex;
  flex-direction: column;

  gap: 8px;
}
.buttonWrapper {
  display: flex;
  flex-direction: column;

  gap: 16px;
}
.clearButton {
  display: block;

  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px;

  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.01em;

  text-align: center;

  width: 100%;
  height: 56px;

  color: var(--main);
  background-color: var(--white);

  transition: border-color 0.2s ease-in-out;
}
.clearButton:hover,
.clearButton:focus {
  border-color: var(--green-hover);
}
.radioInput {
  appearance: none;
  -webkit-appearance: none;

  width: 24px;
  height: 24px;
  margin-right: 8px;

  border: 2px solid var(--text);
  border-radius: 50%;
  background-color: transparent;

  display: grid;
  place-content: center;
  cursor: pointer;
  transition: border-color 0.2s ease;
}
.radioInput::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--text);
}
.radioInput:checked::before {
  transform: scale(1);
}
