:root {
  --grey-green: #829b91;
  --green-hover: #6d7b75;
  --badges: #f2f4f7;
  --inputs-color: #f7f7f7;
  --rating: #ffc531;
  --white: #ffffff;
  --text: #475467;
  --main: #101828;
  --gray-light: #dadde1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  color: var(--main);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

  padding: 64px;
}

.main {
  flex-grow: 1;
  display: flex;
}
input {
  outline: none;
  border: none;
  background-color: transparent;
}
.section {
  padding: 64px;
  margin: 0 auto;

  max-width: 1440px;
  width: 100%;
}
.catalogSection {
  display: flex;
  justify-content: center;

  padding: 48px 64px;
  margin: 0 auto;
  gap: 65px;
}
.loadingBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(255, 255, 255, 0.6);

  backdrop-filter: blur(4px);

  z-index: 9999;

  pointer-events: all;
}
.loader {
  justify-content: center;
}
.locationText {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 4px;
}
